language = "csharp"
run = "mcs -out:main.exe 'Cap_11_Blackley/Main.cs' 'Cap_11_Blackley/categoria.cs' 'Cap_11_Blackley/produto.cs'  'Cap_11_Blackley/ncategoria.cs' 'Cap_11_Blackley/nproduto.cs' 'Cap_11_Blackley/nsocio.cs' 'Cap_11_Blackley/socio.cs' 'Cap_11_Blackley/cliente.cs' 'Cap_11_Blackley/ncliente.cs' 'Cap_11_Blackley/aquisição.cs' 'Cap_11_Blackley/aquisiçãoitem.cs' 'Cap_11_Blackley/naquisição.cs'; mono main.exe"