language = "csharp"
run = "mcs -out:main.exe 'Cap_7_Abelson/Main.cs' 'Cap_7_Abelson/categoria.cs' 'Cap_7_Abelson/produto.cs'  'Cap_7_Abelson/ncategoria.cs' 'Cap_7_Abelson/nproduto.cs' 'Cap_7_Abelson/nsocio.cs' 'Cap_7_Abelson/socio.cs' 'Cap_7_Abelson/cliente.cs' 'Cap_7_Abelson/ncliente.cs' ; mono main.exe"