language = "csharp"
run = "mcs -out:main.exe 'Cap_5_Gosling/Main.cs' 'Cap_5_Gosling/categoria.cs' 'Cap_5_Gosling/produto.cs'  'Cap_5_Gosling/ncategoria.cs' 'Cap_5_Gosling/nproduto.cs' 'Cap_5_Gosling/nsocio.cs' 'Cap_5_Gosling/socio.cs' ; mono main.exe"